* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    background-image:url(/fotos/background.JPG);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    float: left;
    color: whitesmoke;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: auto;

}

a:visited {
    color: darkgreen;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: whitesmoke;

}

* {
    outline: none !important;
}

.navegacion {
    display: block;
    text-align: center;
    background: black;
    width: 100%;

}

li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}
